<div class="container" style="background-color: antiquewhite;">
  <img class="img-responsive" src="./assets/images/marvel.png" style="height: 100px; float: right;">
  <h1>Comic finder</h1>
  <h2 class="mt-3 text-center animate__animated animate__bounce slower" style="color: maroon; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><strong>Marvel Comics Avengers Universe </strong></h2>
  <h2 class="mt-3 text-center animate__animated animate__bounce slower" style="color: darkslategray; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><strong>Avengers Universe </strong></h2>
  <form>
    <div class="form-group">
      <input type='text' name='comic-name' class="form-control" #comicName placeholder='enter Comic name' />
    </div>
    <button (click)="getComicDetails(comicName.value)" type="submit" class='btn btn-primary'>Get Comic Details</button>
    
  </form>

  <div class="row bg-light mt-4 p-4" *ngIf="comicData">
    <div class="col-sm-4">
      <div class="col" *ngFor="let heroes of listHeroes">
        <div class="card animate__bounceIn">
          
          <div class="card-body">
            <h5 class="card-title">{{ comicData.name }}</h5>
            <p class="card-text">{{ comicData.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div *ngIf="comicData.Title">
        <h1>{{ comicData.Title }}</h1>
        <h2> writor by : {{ comicData.Writor }}</h2>
        <h2> year : {{ comicData.Year }}</h2>
      </div>
    </div>
  </div>

</div>